.detail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  padding: 2rem;
  background-color: #111;
  color: #fff;
}
.detail-content h1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 1rem;
}
.overview {
  margin-top: 1rem;
}

.detail-container img {
  height: 400px;
}
